<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>title</title>
</head>

<body>
    <div class="container-fluid">
        <div style="background-color: #324567;">
          <br>
        </div>
        
        <div style="padding: 10px;">
            <div style="font-size: 40px; text-align: center;">
                <p class="fw-bold">Halo, {{nama}} !</p>
            </div>
            <div style="padding-left: 20%">
                <div>
                  Berikut adalah detail akun anda untuk <b>Aplikasi Permitly</b>:<br>
                Username : <b>{{username}}</b><br>
                Password : <b>{{password}}</b><br>
                </div>
            </div>
        </div>
        <div style="background-color: #324567;">
            <br>
        </div>
    </div>
</body>
</html>