/* TabelCRUD.css */

/* Tambahkan CSS untuk tampilan responsif */
@media screen and (max-width: 768px) {
    /* Atur lebar tabel agar 100% saat layar kecil */
    .tabel {
      width: 100%;
    }
  
    /* Sembunyikan kolom Nomor saat layar kecil */
    .tabel th.header-cell:nth-child(1),
    .tabel td.cell:nth-child(1) {
      display: none;
    }
  
    /* Atur teks dalam sel menjadi pusat */
    .tabel th.header-cell,
    .tabel td.cell {
      text-align: center;
    }
    .btn-tambah,
    .btn-eksport,
    .btn-impor {
      width: 100%; /* Gunakan lebar penuh */
      margin: 5px 0; /* Beri sedikit margin */
    }

    
  }
  
  .tabel {
      margin-top: 20px;
      width: 100%;
      border-collapse: collapse;
    }
  
    .tabel th,
    .tabel td {
      text-align: left; /* Rata kiri untuk sel header dan sel data */
      padding: 8px;
      border: 1px solid #ddd;
    }
  
    /* Kolom yang perlu diratakan ke kanan */
    .tabel .rata {
      text-align: center; /* Rata kanan untuk sel dengan class "rata-kanan" */
    }
  
    /* CSS untuk header tabel */
    .tabel th {
      background-color: #f2f2f2;
      color: #333;
    }
  
    /* CSS untuk tombol aksi */
    .tabel .aksi button {
      padding: 5px 10px;
      margin-right: 5px;
      cursor: pointer;
      border: none;
      border-radius: 3px;
      outline: none;
    }

    .tabel .aksi button:last-child {
      margin-right: 0; /* Tidak ada margin kanan pada tombol terakhir */
    }
  
    .margin-button{
      margin-left: 20px;
    }
  
    /* CSS untuk tombol tambah */
    .btn-tambah {
      background-color: #0536FF;
      color: white;
      float: left;
      margin-left: 5px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      width: 150px;
      height: 40.542px;
      flex-shrink: 0;
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  
    /* Efek hover saat tombol dihover */
    .btn-tambah:hover {
      background-color: #0424c3;
    }
  
    /* Efek hover saat tombol dihover */
    .btn-eksport:hover {
      background-color: #26894e;
    }
  
    /* Efek hover saat tombol dihover */
    .btn-impor:hover {
      background-color: #26894e;
    }
  
  
  
    /* CSS untuk tombol edit */
    .btn-edit {
      background-color: #2196f3;
      color: white;
    }
  
    /* CSS untuk tombol simpan */
    .btn-simpan {
      background-color: #4caf50;
      color: white;
    }
  
    /* CSS untuk tombol batal */
    .btn-batal {
      background-color: #ff9800;
      color: white;
    }
  
    /* CSS untuk tombol hapus */
    .btn-hapus {
      background-color: #f44336;
      color: white;
    }
  
    /* CSS untuk tombol detail */
    .btn-detail {
      background-color: #e7e7e7;
      color: #333;
    }
  
    /* CSS untuk tombol impor */
    .btn-impor {
      background-color: #3C9A62;
      color: white;
      float: left;
      margin-left: 15px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      width: 100px;
      height: 40.542px;
      flex-shrink: 0;
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  
    /* CSS untuk tombol ekspor */
    .btn-eksport {
      background-color: #3C9A62;
      color: white;
      float: left;
      margin-left: 15px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      width: 100px;
      height: 40.542px;
      flex-shrink: 0;
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  
    /* CSS untuk input pencarian */
    .search-bar input[type="text"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      outline: none;
    }

    .search-input-container {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px;
      width: 100%; /* Lebar elemen 100% agar responsif */
      max-width: 250px; /* Atur lebar maksimum sesuai kebutuhan Anda */
      height: 40px;
      margin-left: auto; /* Geser elemen ke kanan */
      margin-right: 15px; /* Menambahkan margin kanan sesuai kebutuhan */
    }
    
    .search-input {
      border: none;
      outline: none;
      flex: 1;
      padding: 5px;
    }
    
    .search-icon {
      margin-left: 8px;
      color: #888;
    }

    /* CSS untuk pagination */
    .pagination {
      text-align: center;
      margin-top: 20px;
    }
  
    .page-button {
      background-color: #e7e7e7;
      color: #ff0000;
      padding: 8px 16px;
      border: none;
      cursor: pointer;
    }
  
    .page-button.active {
      background-color: #2196f3;
      color: rgb(0, 0, 0);
    }
  
    /* CSS untuk tampilan detail */
    .detail {
      border: 1px solid #ddd;
      padding: 20px;
      margin-top: 20px;
      background-color: #f9f9f9;
    }
  
    /* .detail h2 {
      margin-top: 0;
    } */
  
    /* CSS untuk form tambah/edit data */
    .form-tambah {
      border: 1px solid #ddd;
      padding: 20px;
      margin-top: 20px;
      background-color: #f9f9f9;
    }
  
    /* .form-tambah h2 {
      margin-top: 0;
    } */
  
    .form-tambah input[type="text"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      outline: none;
    }
  
    .table-font {
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
    }
  
  /* CSS untuk memberikan warna latar belakang pada setiap baris dengan pola putih dan biru */
  .tabel tbody tr:nth-child(odd) {
      background-color: #ffffff; /* Warna putih pada baris ganjil */
    }
  
    .tabel tbody tr:nth-child(even) {
      background-color: #e6eeff; /* Warna biru pada baris genap */
    }
  
    /* CSS untuk efek hover pada baris ganjil */
    .tabel tbody tr:nth-child(odd):hover {
      background-color: #f2f2f2; /* Warna latar belakang saat dihover pada baris ganjil */
    }
  
    /* CSS untuk efek hover pada baris genap */
    .tabel tbody tr:nth-child(even):hover {
      background-color: #c8dbff; /* Warna latar belakang saat dihover pada baris genap */
    }
  
    h2{
      font-size: 25px;
      font-family: 'Montserrat', sans-serif;
    }

    /* untuk information */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        padding: 2px;
      }
      
      .grid-container > div {
        width: 100%;
        
        padding: 15px 0;
      }

    .text-information{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: start;
    }

    


    .text-information-admin{
      font-family: 'Montserrat', sans-serif;
      font-size: 25px;
      text-align: start;
  }

    .box-text-information{
      display: flex;
      justify-content: space-between;
      padding: 0 10px 0 10px;
      width: 100%;
    }

    .text-blue{
        color: #5A719D;
    }

    .box-blue{
        position: absolute;
        background: #5A719D;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        z-index: 1;
    }

    .box-blue-tabel{
        position: absolute;
        background: #5A719D;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        z-index: 1;
    }


    .box-blue-info{
      position: absolute;
      background: #324567;
      box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      z-index: 1;
  }
    .box-information-admin{
      margin-top: 23px;
      padding: 30px;
      width: 570px;
      height: 150px;
      position: relative;
      text-align: center;
      display: flex;
      align-items: center;
  }

    .box-information{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px;
        width: 100%;
        height: 150px;
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
    }
    


    
    .box-white{
        position: absolute;
        padding: 20px;
        margin-left: 15px;
        background: #ffffff;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        z-index: 2;
    }

    .box-blue-grafik{
      position: absolute;
      background: #324567;
      box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      z-index: 1;
      max-width: 500px;
    }

    .box-grafik{
      margin-top: 30px;
      margin-bottom: 30px;
      padding-left: 10px;
      width: 100%;
      height: 330px;
      position: relative;
      text-align: center;
      display: flex;
      align-items: center;
    }
    
    .box-white-grafik{
        position: absolute;
        padding: 10px;
        margin-left: 5px;
        background: #ffffff;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        z-index: 2;
        width: 550px;
    }

    .card-grafik {
      border: transparent;
      margin-top: 30px;
    }

    .text-header-grafik{
      font-family: 'Montserrat', sans-serif;
      font-size: 23px;
      text-align: start;
      width: 300px;
      border: transparent;
      background-color: #ffffff;
    }

    .page-dashboard {
      height: 100%;
      background-color: #ebedef;
    }
  
    .containerTabel {
        grid-row:2/2;
        width: 100%;
        height: 400px;
        position: relative;
        text-align: center;
        display: flex;
        margin-bottom: 10px;
    }
  
    .containerTabelDashboard {
        grid-row:2/2;
        width: 100%;
        height: 470px;
        position: relative;
        text-align: center;
        display: flex;
        margin-bottom: 10px;
    }

    .containerTabelRekap {
      grid-row:2/2;
      width: 100%;
      height: 500px;
      position: relative;
      text-align: center;
      display: flex;
      margin-bottom: 10px;
    }

    .containerTabelTrend {
      grid-row:2/2;
      width: 100%;
      height: 650px;
      position: relative;
      text-align: center;
      display: flex;
      margin-bottom: 10px;
    }
  
    .table-box {
        position: absolute;
        padding: 20px;
        margin-left: 15px;
        background: #ffffff;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        z-index: 2;
        display: grid;
        align-content:space-between
    }
  
    .table-box-dashboard {
        position: absolute;
        padding: 20px;
        margin-left: 15px;
        background: #ffffff;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        z-index: 2;
        display: grid;
        align-content:space-between
    }
  
    /* Gaya untuk pesan validasi */
  .invalid-feedback {
    color: red; /* Warna teks merah untuk pesan validasi */
    font-size: 14px; /* Ukuran font pesan validasi */
    margin-top: 4px; /* Jarak antara input dan pesan validasi */
  }
  
  /* Gaya untuk input yang tidak valid */
  .has-error .select__control,
  .has-error .form-control {
    border-color: red !important; /* Border merah untuk input yang tidak valid */
  }
  
  /* Gaya untuk tombol Kirim */
  .btn-primary {
    background-color: #007bff; /* Warna latar belakang tombol */
    color: #fff; /* Warna teks tombol */
    border: none; /* Hapus border tombol */
    padding: 10px 20px; /* Padding tombol */
    cursor: pointer; /* Ganti kursor saat di atas tombol */
    border-radius: 4px; /* Sudut bulat pada tombol */
    transition: background-color 0.3s; /* Animasi perubahan warna latar belakang */
  }
  
  /* Gaya untuk tombol Kirim saat di atasnya */
  .btn-primary:hover {
    background-color: #0056b3; /* Warna latar belakang yang berbeda saat di atas tombol */
  }
  
  
  /* Gaya untuk form */
  .row.g-3 {
    margin-bottom: 20px; /* Jarak antara form dan elemen lainnya */
  }
  
  /* Gaya untuk elemen yang memiliki margin atas */
  .col-md-4,
  .col-xs-12 {
    margin-top: 10px; /* Jarak atas antara elemen */
  }

  .sort-icon {
    float: right;
    margin-left: 15px; /* Adjust the margin as needed */
  }

  .pagination{
    justify-content: end;
  }

  .btn-pagination {
    margin: 5px;
    background-color: transparent;
    border: 1px solid white;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border: none;
  }
  
  /* Hover effect */
  .btn-pagination:hover {
    background-color: #007bff;
    color: white;
  }
  
  /* Selected button style */
  .btn-pagination.active {
    background-color: #007bff;
    color: white;
  }

  .ukuran-kecil {
    width: fit-content;
  }

  .jarak-container{
    margin-top: 50px;
  }

